* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%
}

body {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #E9E9E9;
    color: #333;
    font-family: "Rubik", Regular, sans-serif;
    font-size: 1em;
    line-height: 135%;
}

a {
    color: #000;
    opacity: 50%;
    text-decoration: none;
}

a:hover {
    color: #EA9A7F;
    opacity: 100%;
}

a, a:hover {
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.clear {
    clear: both;
}

/* Header styles */

header {
    height: 11%;
    width: 100%;
    float: left;
    background-color: #E9E9E9;
    border-bottom-width: 1px;
}

header #logo {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 11%;
    width: 53%;
    font-size: 220%;
    color: #EA9A7F;
    float: left;
}

header #createNew {
    font-size: 120%;
    margin-top: 2.1%;
    width: 12%;
    float: left;
}

header #library {
    font-size: 120%;
    margin-top: 2.1%;
    width: 10%;
    float: left;
}

header #profile {
    font-size: 120%;
    margin-top: 2.1%;
    width: 10%;
    float: left;
}

/* Body styles*/

body {
    background-color: #BBBBBB99;
}

/* Library page styles */

.music-container {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 20px 20px 0 rgba(187, 187, 187, 0.6);
    display: flex;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    width: 96.8%;
    z-index: 10;
}

.navigation {
    display: flex;
    align-items: center;
    margin-left: 14%;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: 0;
    color: #bbb8bb;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: #EA9A7F;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    margin-top: 17px;
    margin-left: 30%;
    transform: translateY(0%);
    color: #000;
    opacity: 55%;
    width: 68%;
}

.progress-container {
    background: rgba(141, 141, 141, 0.5);
    cursor: pointer;
    margin-left: 5%;
    margin-top: 0.7%;
    width: 58%;
    height: 5px;
}

.progress {
    background-color: #e5805e;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: width 0.1s linear;
}

.title {
    max-width: 15%;
    min-width: 15%;
}

#playlist {
    color: #BBBBBB99;
    border-radius: 10px;
    padding: 5px 5px 3px 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height: 62%;
    overflow: auto;
}

#playlist div a{
    font-size: 20px;
    display: block;
    cursor: pointer;
    padding: 10px;
    padding-left: 5%;
    margin-top: 8px;
    border-radius: 5px;
    height: 4%;
    overflow: hidden;
    width: 80%;
}

#like_button {
    margin-left: 69%;
    width: 6%;
}

#playlist a.file { background: rgba(255, 255, 255, 0.5);}
#playlist a { background: rgba(255, 255, 255, 0.5); }
#playlist a.playing { background: #e5805e; font-weight: bold; color: #e5e5e5;}
#playlist a:hover { background: rgba(255, 255, 255, 0.32); color: #333333}

#filters {
    margin-left: 64%;
    margin-top: 9%;
}

#created_samples {
    margin-left: 6%;
    font-size: 18px;
}

#liked_samples {
    font-size: 18px;
}

/* Create page styles */

.file-interface {
    top: 25%;
    left: 32%;
    display: inline-block;
    position: absolute;
    padding: 50px;
    background-color: #E9E9E9;
}

.file-chooser {
    border-radius: 5px;
    color: #E9E9E9;
    background-color: #E9E9E9;
}

.file-modification {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.modify-field {
    margin-left: 20px;
}

#name-field {
    height: 40px;
}

#name {
    height: 40px;
    font-size: 20px;
}

#select-type-field {
    margin-left: 20px;
    height: 43px;
    margin-top: 1px;
}

#start {
    caret-color: #e5805e;
}

#save-button{
    margin-left: 13%;
    margin-top: 100px;
    background-color: #e5805e;
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 50px;
    width: 400px;
}

.action-samples-btn {
    display: flex;
}

#download-btn {
    text-align: start;
    margin-left: 2%;
    max-width: 5%;
    font-size: 15px;
}

#like-btn {
    text-align: start;
    margin-left: 2%;
    max-width: 5%;
    font-size: 10px;
}

input[type="file"]::file-selector-button {
    border: 2px solid #e5805e;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #EA9A7F;
    transition: 1s;
    color: #ffffff;
}

.checkbox {
    margin-bottom: 20px;
    margin-left: 40px;
}

#start-time {
    width: 30px;
}

#end-time {
    width: 30px;
}