<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Start</title>
  <link href="/static/style/loginStyle.css" rel="stylesheet" type="text/css">
  <link href="/static/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div id="logo">Samplicity</div>
  <a href="http://localhost:8000/create/" id="createNew">Create new</a>
  <a href="http://localhost:8000/" id="library">Library</a>
  <a href="http://localhost:8000/user/" id="profile">Profile</a>
</header>
<div id="authorization_info">

  <h1><strong>Welcome.</strong> Please login.</h1>

  <form>

    <fieldset>

      <p><input type="text" required placeholder="Username" id="username"></p>

      <p><input type="password" required placeholder="Password" id="password"></p>

      <p><a href="#" id="forgot_password_text">Forgot Password?</a></p>

      <p><input type="submit" value="Login" onclick="uploadData()"></p>

    </fieldset>

  </form>

  <p><a href="http://localhost:8000/login/" id="sing_up_text">Sing up</a></p>

</div>
<script src="/static/scripts/scriptAuth.js" type="text/javascript"></script>
</body>
</html>