<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link href="/static/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div id="logo">Samplicity</div>
    <a href="http://localhost:8000/create/" id="createNew">Create new</a>
    <a href="http://localhost:8000/" id="library">Library</a>
    <a href="http://localhost:8000/user/" id="profile">Profile</a>
</header>
<div class="file-interface">
    <input id="choose-file" class="action-btn" type="file" name="myFile">
    <div class="file-modification">
        <div id="name-field" class="modify-field">
            <input id="name" maxlength="80" size="40" type="text">
            <h5>Name</h5>
        </div>
        <select id="select-type-field">
            <option value="wav">.wav</option>
            <option value="mp3">.mp3</option>
        </select>
        <div id="start-sample" class="modify-field">
            <input id="start" type="range" maxlength="80" size="40" value="0">
            <h5>Start</h5>
        </div>
        <div id="end-sample" class="modify-field">
            <input id="end" type="range" maxlength="80" size="40" value="100">
            <h5>End</h5>
        </div>
    </div>
    <button id="save-button" class="action-btn" onclick="uploadFile()">Save</button>
</div>
<script src="/static/scripts/scriptCreate.js" type="text/javascript"></script>
</body>
</html>