<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link href="/static/style/loginStyle.css" rel="stylesheet" type="text/css">
    <link href="/static/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div id="logo">Samplicity</div>
    <a href="http://localhost:8000/create/" id="createNew">Create new</a>
    <a href="http://localhost:8000/" id="library">Library</a>
    <a href="http://localhost:8000/profile/" id="profile">Profile</a>
</header>
<div id="profile_info">

    <h1 id="username_field">{{.Username}}</h1>

    <h1 id="email_field">{{.Email}}</h1>

    <div id="liked_samples">
        <a id="liked_samples_text">Liked samples: {{.Liked}}</a>
    </div>

    <div id="created_samples">
    <a id="created_samples_text">Created samples: {{.Created}}</a>
    </div>

    <p><a href="http://localhost:8000/auth" id="log_out_text">Log out</a></p>

</div>
<script src="/static/scripts/scriptAuth.js" type="text/javascript"></script>
</body>
</html>